node_modules
dist
docs
coverage



run.sh

./logs/err.log
logs/err.log

./logs/out.log
logs/out.log

./err.log
err.log

./out.log
out.log

./helpers/utils.js
helpers/utils.js

./modules/websocket.js
modules/websocket.js

./config.json
config.json